# Dependencies
node_modules/
server/node_modules/

# Environment variables
.env
server/.env
mobile/.env

# Backend build
server/dist/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/ios/Pods/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/android/.gradle/
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
.AppleDouble
.LSOverride
